<ul class="posts">
    {% for article in articles %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">发布于:{{ moment(article.timestamp).fromNow() }} <br>
            From <a href="#"> {{article.category.name}} </a></div>
            
            <div class="post-head">
            <a href="{{ url_for('.article', id=article.id) }}"><h3>{{ article.title }}</h3><small>&nbsp;阅读:{{ article.visit }}</small></<small>&nbsp;收藏:{{ article.collector.__len__() }}</small></a>
            </div>
            <div class="post-footer">
                {% if current_user == article.author %}
                <a href="{{ url_for('.edit_article', id=article.id) }}">
                    <span class="label label-default">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit_article', id=article.id) }}">
                    <span class="label label-danger">编辑 [Admin权限]</span>
                </a>
                {% endif %}
<!--                 <a href="{{ url_for('.article', id=article.id) }}">
                    <span class="label label-default">阅读全文</span>
                </a> -->
                <a href="{{ url_for('.article', id=article.id) }}#comments">
                    <span class="label label-primary">{{ article.comments.count() }} 评论</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
